**Global Healthy Diet Cost Analysis**

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/MyDrive/archive.zip'

# Memuat Dataset

In [ ]:
df = pd.read_csv(path)
df

,country_code,country,region,year,cost_healthy_diet_ppp_usd,annual_cost_healthy_diet_usd,cost_vegetables_ppp_usd,cost_fruits_ppp_usd,total_food_components_cost,cost_category,data_quality
0,8,Albania,Africa,2017,3.04,1109.60,NaN,NaN,NaN,High Cost,Estimated value
1,8,Albania,Africa,2018,3.13,1142.45,NaN,NaN,NaN,High Cost,Estimated value
2,8,Albania,Africa,2019,3.32,1211.80,NaN,NaN,NaN,High Cost,Estimated value
3,8,Albania,Africa,2020,3.40,1241.00,NaN,NaN,NaN,High Cost,Estimated value
4,8,Albania,Africa,2021,3.49,1273.85,0.60,0.77,1.37,High Cost,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...
1374,894,Zambia,Europe,2021,3.28,1197.20,0.31,0.36,0.67,High Cost,Estimated value
1375,894,Zambia,Europe,2022,3.61,1317.65,NaN,NaN,NaN,High Cost,Estimated value
1376,894,Zambia,Europe,2023,3.81,1390.65,NaN,NaN,NaN,High Cost,Estimated value
1377,894,Zambia,Europe,2024,3.99,1456.35,NaN,NaN,NaN,High Cost,Estimated value
1378,716,Zimbabwe,Europe,2017,3.54,1292.10,NaN,NaN,NaN,NaN,Estimated value

#Business Understanding

## Business Objective

Tujuan bisnis dari proyek ini adalah untuk memahami dan menganalisis biaya diet sehat di tingkat global dengan menggunakan dataset Global Healthy Diet Cost Analysis. Diet Sehat masuk dalam salah satu kebutuhan yang memiliki peran penting dalam meningkatkan kualitas hidup dan untuk mencegah berbagai penyakit. Tapi, pada kenyataannya tidak semua masyarakat di setiap negara memiliki akses yang mudah untuk memperoleh makanan bergizi karena tingginya harga pangan sehat. Karena itu, tujuan dibuatnya penelitian ini yaitu untuk mengetahui perbedaan biaya diet sehat antar negara kemudian mengamati perubahan tren dari waktu ke waktu.

## Assess Situation

 Melalui pembuatan Dataset Global Healthy Diet Cost Analysis, kita dapat memperoleh data tentang rata-rata biaya diet sehat dari berbagai negara untuk dapat menilai keterjangkauan diet sehat secara global. Namun, proses analisis ini memiliki beberapa tantangan misalnya ada kemungkinan data tidak lengkap untuk beberapa negara atau dalam beberapa periode tertentu, juga karena pengaruh eksternal misalnya seperti inflasi, konflik internasional, ataupun pandemi yang dapat memengaruhi harga bahan pangan namun ternyata tidak tercatat secara langsung dalam dataset.

## Analytic Goals

Hal yang dapat dilakukan untuk mengatasi masalah tersebut:

* Menganalisis tren perubahan biaya diet sehat dari
waktu ke waktu.

* Membandingkan biaya diet sehat antar negara.

* Mengidentifikasi negara dengan biaya diet sehat tertinggi.

* Mengidentifikasi negara dengan biaya diet sehat terendah.

## Project Plan

Rencana untuk dataset bisa berupa:

* Memahami struktur dataset juga variabel-variabel yang ada.

* Melakukan pembersihan dan pengolahan data agar data yang digunakan memiliki kualitas yang baik.

* Melakukan Exploratory Data Analysis (EDA) untuk melihat pola, tren, dan perbandingan biaya diet sehat antar negara.

* Bisa dengan membuat tahap pemodelan, misalnya dengan melakukan prediksi biaya diet sehat atau dengan mengelompokkan negara berdasarkan tingkat keterjangkauannya.